name: Build/test Android

on:
  push:
    branches:
      - main
env:
  DEVELOPER: 1

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: false

jobs:
  test_and_apk:
    name: "Local tests and APKs"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          validate-wrappers: true
          gradle-home-cache-cleanup: true

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Accept licenses
        run: yes | sdkmanager --licenses || true
          
  XML-build:
    name: "Build XML files"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build XML files
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Build XML
          path: 'build-xml/'
          
  APK-build:
    name: "Build APK files"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build APK files
        uses: actions/upload-artifact@v5
        with:
          name: Build APK
          path: 'build-apk/'

  HTML-build:
    name: "Build HTML files"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build HTML files
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Build HTML
          path: 'build-html/'

  TEXT-build:
    name: "Build TEXT files"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build TEXT files
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Build TEXT
          path: 'build-text/'

  JAVA-test:
    name: "Test JAVA files"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    timeout-minutes: 60

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Test JAVA files
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: Build JAVA
          path: 'test-java/'
