name: Skip if files exsist

# This step triggers after the learner creates a new repository from the template.
# This workflow updates from step 0 to step 1.

# This will run every time we create push a commit to `main`.
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  Android-build:
    name: Android-build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Let's get all the branches.

      - name: Prepare a branch, and file
        run: |
          echo "Make a branch"
          BRANCH=main-1
          git checkout -b $BRANCH

      - name: Create or modify files
        run: |
          echo "Creating or modifying files..."
          mkdir -p MyAndroidApp/app/src/main/java/com/example/myandroidapp
          
          # Check if MainActivity.java exists; if not, create it
          if [ ! -f MyAndroidApp/app/src/main/java/com/example/myandroidapp/MainActivity.java ]; then
            echo "public class MainActivity {}" > MyAndroidApp/app/src/main/java/com/example/myandroidapp/MainActivity.java
            echo "MainActivity.java created."
          else
            echo "MainActivity.java already exists, skipping creation."
          fi
